@model IEnumerable<WebApplicationMVC.Models.Employee>

@{
    ViewBag.Title = "AllEmployeeDetails";
}

<h2>AllEmployeeDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @Class = "btn btn-default" })
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Employee", new { id = item.EmployeeId }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                        <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure, you want to delete record with ID = @item.EmployeeId ?')">Delete</button>

                    </td>
                </tr>
            }}
    </tbody>

</table>
<br /><br /><br />
@Html.ActionLink("Back to Department List", "Index", "Department")